<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<connectionStrings>
  <add name="RentedConnectionDB" connectionString="Data Source=DESKTOP-K3OHU75;Initial Catalog=VideoRental_Jass;Integrated Security=SSPI; MultipleActiveResultSets=true;"
   providerName="System.Data.SqlClient" />
  <add name="VideoRental_Jass.Properties.Settings.VideoRental_JassConnectionString"
   connectionString="Data Source=DESKTOP-K3OHU75;Initial Catalog=VideoRental_Jass;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>